nav{
  color: white;
  position: absolute;
  width: 65%;
  right: 0;
  top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  z-index: 2;
}

nav ul{
  display: inline-flex;
  list-style: none;
}


nav li a{
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: hotpink;
}

.splash {
  top: 0;
  left: 0;
  height: 700px;
  background: #21DDB8;
  color: gray;
  position: absolute;
  width: 100%;
}

#ryan {
  position: absolute;
  bottom: 0;
  left: 62%;
  height: 70%;
}

#hotsauce {
  width: 270px;
  position: absolute;
  top: 2%;
  left: 5%;
}

#banner {
  position: absolute;
  top: 30%;
  left: 6%;
  width: 700px;
  height: 400px;
}

.splash-banner {
  position: absolute;
  bottom: 10%;
  left: 15%;
  z-index: 1;
  color: white;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
