<body>
<p><strong>Date:</strong> 04/26/2024</p>
<p>Dear Jackson Hole High School Class of "1974" Classmates,</p>
<p>Your reunion committee has been busy trying to finalize the details of our upcoming 50th Class Reunion scheduled for <strong>September 13 &amp; 14, 2024</strong>.</p>
<p>As indicated in our previous letter, prices everywhere have skyrocketed in the past ten years, but especially in our beloved Jackson Hole!! We started this venture with a Budget of $0.00 and went out on a limb and paid some deposits in hopes that we would get some interest from our fellow classmates! We are happy to report that as of today we have 26 classmates signed up and with the plus ones a total of 44 attendees. For those of you that have paid your $50 per person deposit, thank you so much! And, for those of you that have not signed up yet it's not too late, we would still love to have you. That's the good news 😁</p>
<p>The Friday Night Alumni Get together will be at the Jackson Elks Lodge, 270 W Broadway, Jackson from 5 PM until 8 PM with a cash bar.</p>
<p>Saturday evening's dinner will be catered at the Old Wilson Schoolhouse, 5655 Main St., Wilson, Wyoming. Cocktail hour will start at 5 PM with hors d'oeuvres and dinner will be served at 6 PM. There will be three drink tickets per person included in your packet when you arrive. Any additional drinks will be a $5.00 donation at the bar. The bar will be serving white wine, red wine, a variety of beer, a variety of sodas and a Mocktail. There will also be iced tea and water served with dinner.</p>
<p>Now we're going to hit you in the pocketbook again, to cover the cost of the Venues, Friday night snacks, insurance, catering of Saturday night's dinner, and drinks for Saturday night. Drumroll please 🥁🏦 it will be an additional $100 per person. The total cost is $150 per person. Those of you that have already paid your $50 deposit, please forward the additional $100 per person to:</p>
<p><strong>Lynda Leeper</strong><br>
PO Box 482<br>
Pinedale, WY 82941</p>
<p>This final payment is due on or before June 30th, 2024!</p>
<p>For anyone that has not yet signed up for this reunion please consider it, we plan on having a great time and reconnecting with so many friends that we haven’t seen in a long time. There are people that haven’t made it to our 20th, 30th, and 40th but plan on being here! So, try to make it if you can!! You know we aren’t getting any younger, so the time is now ❤️❤️ If you decide to sign up please forward $150 per person to Lynda.</p>
<p>Don’t forget that Lynda needs your updated information about where you are and what you have been doing for the last 10 years and beyond if you haven’t been here for previous reunions. You can either send it to her or bring it with you. There will be a booklet put together after the reunion.</p>
<p>If you have any questions you can reach out to any of your committee members:</p>
<ul>
<li>Angie (Radford) Jennings at <a href="mailto:jenningsangie56@gmail.com">jenningsangie56@gmail.com</a></li>
<li>Sheila (Gasperetti) Keating at <a href="mailto:keatingsheila6@gmail.com">keatingsheila6@gmail.com</a></li>
<li>Robin (StClair) Dittrich at <a href="mailto:Swabrobin@gmail.com">Swabrobin@gmail.com</a></li>
<li>Lynda Leeper at <a href="mailto:lyndaleeper29@gmail.com">lyndaleeper29@gmail.com</a></li>
<li>Belinda (Herold) Penny at <a href="mailto:belindapenny6@gmail.com">belindapenny6@gmail.com</a></li>
</ul>
<p>Thank you! We are so excited and grateful for our friends and our chance to have grown up where we did!! Can’t wait to see you all!!</p>
<p>Your 2024 Class Reunion Committee</p>
</body>
</html>
